
@{
    ViewBag.Title = "Bản Đồ";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

    <div>
        <div>
            <h2>Chi nhánh Hà Nội</h2>
            <p>
                Địa Chỉ:<strong>Số 3 Cầu Giấy , Ngọc Khánh , Đống Đa, Hà Nội</strong>
            </p>
            <p>
                Điện Thoại:<strong>0971600489</strong>
            </p>
            <p>
                Thời gian làm việc:<strong>8h30 - 12h ; 13h30 - 21h30</strong>
            </p>
        </div>
        <div>
            <h2>Bản đồ cửa hàng</h2>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1131158083003!2d105.8012318142978!3d21.028159493176084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab424a50fff9%3A0xbe3a7f3670c0a45f!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBHaWFvIHRow7RuZyBW4bqtbiB04bqjaSAoVVRDKQ!5e0!3m2!1svi!2s!4v1593913586386!5m2!1svi!2s" width=100% height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

    </div>
   

